footer {
  background-color: #e5c2a5;
}

ul.social-network {
  list-style: none;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa {
  font-size: 30pt;
  color: #fff;
  padding: 10px;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #c13584;
}

.fa-linkedin-square:hover {
  color: #0072b1;
}

.fs-14 {
  font-size: 14px;
}
