<footer class="page-footer font-small pt-2 position-sticky">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <h5 class="text-white">Entre em contato</h5>
    </div>

    <div class="row justify-content-center" id="contato">
      <div class="col-md-3 d-flex justify-content-center">
        <div class="form-group fs-12">
          <label class="pt-1 text-white" for="nome ">Nome</label>
          <input
            type="text "
            class="form-control fs-12"
            id="nome "
            placeholder="Digite seu nome aqui "
          />
        </div>
      </div>
      <div class="col-md-3 d-flex justify-content-center">
        <div class="form-group fs-12">
          <label class="pt-1 text-white" for="email ">E-mail</label>
          <input
            type="email "
            class="form-control fs-12"
            id="email "
            placeholder="Digite seu e-mail aqui "
          />
        </div>
      </div>

      <div class="col-md-3 d-flex justify-content-center">
        <div class="form-group fs-12">
          <label class="pt-1 text-white" for="assunto ">Assunto</label>
          <textarea
            class="form-control fs-12"
            name="assunto "
            id="assunto "
            cols="74 "
            rows="5 "
            placeholder="Digite sua mensagem aqui "
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group d-flex justify-content-center">
        <button type="submit " class="btn btn-success mt-1">Enviar</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-dark text-center py-2 fs-14">
    <span class="text-light">© 2021 Copyright: </span>
    <a class="font-weight-bold font-italic text-light" target="_blank" href=""
      >Îandé</a
    >
  </div>
</footer>
