<div class="container-fluid" id="bg-edit">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 mt-50">
      <div class="row d-flex justify-content-center" id="bg-tema">
        <div class="col-md-10 font-weight-bold text-black-50">
          <h2 class="text-center font-weight-bold pb-4">Excluir Tema</h2>

          <h4 class="text-center text-secondary">
            Você tem certeza que deseja excluir esse tema?
            <br />
            Todas as postagens relacionadas a ele serão igualmente excluídas.
          </h4>

          <h5 class="text-center text-black pt-4">Tema: {{ tema.titulo }}</h5>

          <div class="d-flex justify-content-center pt-4">
            <button class="btn btn-danger mr-4" routerLink="/tema">Não</button>
            <button class="btn btn-success" (click)="apagar()">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
