<div class="container-fluid" id="bg-edit">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 mt-50">
      <div class="row d-flex justify-content-center" id="bg-post">
        <div class="col-md-10 font-weight-bold text-black-50">
          <h2 class="text-center font-weight-bold pb-4">Excluir Postagem</h2>

          <h4 class="text-center text-black-50">
            Você tem certeza que deseja excluir essa postagem?
          </h4>

          <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-6">
              <div class="card text-center">
                <img src="{{ postagem.imagem }}" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title m-0">{{ postagem.titulo }}</h5>
                  <small class="text-muted"
                    >Tema: {{ postagem.tema.titulo }}</small
                  >
                  <p class="card-text mt-3">{{ postagem.texto }}</p>
                  <p class="card-text">
                    <small class="text-muted">
                      {{ postagem.datapostagem | date: "dd/MM/yyyy" }} às
                      {{ postagem.datapostagem | date: "HH:mm" }}
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center pt-4">
            <button class="btn btn-danger mr-4" routerLink="/inicio">
              Não
            </button>
            <button class="btn btn-success" (click)="apagar()">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
