@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
nav {
    background-color: #f2ed5fdc;
}

.fs-20 {
    font-size: 20px;
    font-family: "Trade Winds", cursive;
}

a {
    cursor: pointer;
}

#logo {
    margin-left: 20px;
}

#img {
    padding-top: 0;
}