<footer class="page-footer font-small pt-2 position-sticky">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <img
          src="../../assets/img/logo.png"
          alt="Imagem do logo iande"
          width="30px"
          height="30px"
        />
        <div class="row align-items-center">
          <div class="col-md-12 d-flex justify-content-center">
            <p class="font-weight-bolder">Îandé</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
