<app-menu-home></app-menu-home>

<section id="inicio">
  <div class="container"></div>
</section>


<section id="sobre">
  <div class="container-fluid">


    
    <h1 class="text-center mb-3 mt-5 pt-5">Equipe de desenvolvedores</h1>
    <div class="row ">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li> <img src="../../assets/img/sndezena.jpg" alt="Imagem do Dezena" width="100%"
                  class="img-fluid rounded-circle" />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Daniel Dezena</h3>
              </li>
              <li> <a href="https://www.linkedin.com/in/daniel-dezena-a62660223/" target="_blank">Linkedin</a>
              </li>
              <li> <a href="https://github.com/DanielDezena" target="_blank">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li> <img src="../../assets/img/snlissa.jpg" alt="Imagem da Lissa" width="100%"
                  class="img-fluid rounded-circle" />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Lissa Sonoda</h3>
              </li>
              <li> <a href="https://www.linkedin.com/in/lissasonoda/"  target="_blank">Linkedin</a>
              </li>
              <li> <a href="https://github.com/lissa-sonoda"  target="_blank">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li> <img src="../../assets/img/snmabile.jpg" alt="Imagem da Mábile" width="100%"
                  class="img-fluid rounded-circle" />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Mábile Cristina</h3>
              </li>
              <li> <a href="https://www.linkedin.com/in/m%C3%A1bile-cristina-84672a160/" target="_blank">Linkedin</a>
              </li>
              <li> <a href="https://github.com/MabySilva" target="_blank">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
  
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li> <img src="../../assets/img/snnatalia.jpg" alt="Imagem da Natalia" width="100%"
                  class="img-fluid rounded-circle" />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Nathália Lisboa</h3>
              </li>
              <li> <a href=""  target="_blank">Esta faltando o linkedin</a>
              </li>
              <li> <a href="https://github.com/NaLisboa"  target="_blank">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li> <img src="../../assets/img/snrafael.jpg" alt="Imagem do Rafael" width="100%"
                  class="img-fluid rounded-circle" />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Rafael Rodrigues</h3>
              </li>
              <li> <a href="https://www.linkedin.com/in/raffarodrigues/"  target="_blank">Linkedin</a>
              </li>
              <li> <a href="https://github.com/0raffa"  target="_blank">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li> <img src="../../assets/img/snvictor.jpg" alt="Imagem do Victor" width="100%"
                  class="img-fluid rounded-circle" />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Victor Yago</h3>
              </li>
              <li> <a href=""  target="_blank">Esta faltando o Linkedin</a>
              </li>
              <li> <a href="https://github.com/Victor-Yago" target="_blank">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
</section>







<hr class="m-0" />
<app-rodape></app-rodape>