<app-menu-home></app-menu-home>

<!-- ------------------------------------- Inicio da Section Inicio ------------------------------------- -->
<!-- Desenvolvido por: Dezena -->

<section id="inicio">
  <div class="container">
    <div class="row justify-content-center texto text-center d-flex">
      <div class="col-md-8">
        <h1 class="text-light">Seja bem-vinde</h1>
        <img
          class="mt-5 img"
          width="220px"
          height="220px"
          src="../../assets/img/logo.png"
        />
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col mr-5 text-right text-light">Role para baixo</div>
  </div>
</section>

<!-- ------------------------------------- Fim da Section Início ------------------------------------- -->

<!-- ------------------------------------- Inicio da Section Sobre ------------------------------------- -->
<!-- Desenvolvido por: Raffa -->

<section id="sobre">
  <div class="container-fluid">
    <h1 class="text-center mb-3 mt-5 pt-5">Equipe de desenvolvedores</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li>
                <img
                  src="../../assets/img/sndezena.jpg"
                  alt="Imagem do Dezena"
                  width="100%"
                  class="img-fluid rounded-circle"
                />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Daniel Dezena</h3>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/daniel-dezena-a62660223/"
                  target="_blank"
                  >Linkedin</a
                >
              </li>
              <li>
                <a href="https://github.com/DanielDezena" target="_blank"
                  >GitHub</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li>
                <img
                  src="../../assets/img/snlissa.jpg"
                  alt="Imagem da Lissa"
                  width="100%"
                  class="img-fluid rounded-circle"
                />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Lissa Sonoda</h3>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/lissasonoda/"
                  target="_blank"
                  >Linkedin</a
                >
              </li>
              <li>
                <a href="https://github.com/lissa-sonoda" target="_blank"
                  >GitHub</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li>
                <img
                  src="../../assets/img/snmabile.jpg"
                  alt="Imagem da Mábile"
                  width="100%"
                  class="img-fluid rounded-circle"
                />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Mábile Cristina</h3>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/m%C3%A1bile-cristina-84672a160/"
                  target="_blank"
                  >Linkedin</a
                >
              </li>
              <li>
                <a href="https://github.com/MabySilva" target="_blank"
                  >GitHub</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li>
                <img
                  src="../../assets/img/snnatalia.jpg"
                  alt="Imagem da Natalia"
                  width="100%"
                  class="img-fluid rounded-circle"
                />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Nathália Lisboa</h3>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/nath%C3%A1lia-lisboa-4a6504209/"
                  target="_blank"
                  >Linkedin</a
                >
              </li>
              <li>
                <a href="https://github.com/NaLisboa" target="_blank">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li>
                <img
                  src="../../assets/img/snrafael.jpg"
                  alt="Imagem do Rafael"
                  width="100%"
                  class="img-fluid rounded-circle"
                />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Rafael Rodrigues</h3>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/raffarodrigues/"
                  target="_blank"
                  >Linkedin</a
                >
              </li>
              <li>
                <a href="https://github.com/0raffa" target="_blank">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="sobre-nos">
              <li>
                <img
                  src="../../assets/img/snvictor.jpg"
                  alt="Imagem do Victor"
                  width="100%"
                  class="img-fluid rounded-circle"
                />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="sobre-nos">
                <h3 class="m-0 p-0">Victor Yago</h3>
              </li>
              <li><a href="" target="_blank">Esta faltando o Linkedin</a></li>
              <li>
                <a href="https://github.com/Victor-Yago" target="_blank"
                  >GitHub</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ------------------------------------- Fim da Section Sobre ------------------------------------- -->

<!-- ------------------------------------- Inicio da Section Contato ------------------------------------- -->
<!-- Desenvolvido por: Lissa -->

<section id="contato" class="pt-5 mt-5 bg-contato">
  <!--Formulário de contato-->
  <div class="container text-white">
    <div class="row mb-5">
      <div class="col-md-12">
        <h4 class="text-center font-weight-bold">Entre em Contato Conosco</h4>
      </div>
    </div>

    <form class="pb-5">
      <div class="form-group">
        <label class="pt-3" for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Digite seu nome aqui"
        />
      </div>

      <div class="form-group">
        <label class="pt-3" for="email">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Digite seu e-mail aqui"
        />
      </div>

      <div class="form-group">
        <label class="pt-3" for="assunto">Assunto</label>
        <textarea
          class="form-control"
          name="assunto"
          id="assunto"
          cols="74"
          rows="5"
          placeholder="Digite sua mensagem aqui"
        ></textarea>
      </div>

      <div class="form-group d-flex justify-content-end">
        <button type="submit" class="btn btn-success mt-5">Enviar</button>
      </div>
    </form>
  </div>
  <!--/Formulário de contato-->
</section>

<!-- ------------------------------------- Fim da Section Contato ------------------------------------- -->

<hr class="m-0" />
<app-rodape></app-rodape>
