<app-menu-home></app-menu-home>

<section id="inicio">
    <div class="container">
        <div class="row justify-content-center texto text-center d-flex">
            <div class="col-md-8   ">
                <h1 class="text-light  ">Seja bem-vinde</h1>
                <img class="mt-5 img" width="220px" height="220px" src="../../assets/img/logoo.png">
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col mr-5 text-right text-light">
            Role para baixo
        </div>
    </div>



</section>
<section id="sobre ">
    <div class="container "></div>
</section>

<hr class="m-0 " />
<app-rodape></app-rodape>