@import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

/*
animação do nav
*/

nav {
    background-color: #e5c2a5;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 16px;
    position: relative;
}

nav ul>li>a {
    color: #f7f3ba;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
}

nav ul>li>a:hover {
    color: #000;
    transition: all ease-in-out 260ms;
}

nav ul>li>a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #000;
    position: absolute;
    top: 0;
    transition: all ease-in-out 260ms;
}

nav ul>li>#barra:hover::before {
    width: 100%;
}

p {
    margin-bottom: 0;
    padding-left: 0;
}

#img {
    padding-top: 0;
}

#logo {
    padding-top: 0;
}


/*
 fim animação do nav
*/

.fs-16 {
    font-size: 20px;
    font-family: "Trade Winds", cursive;
}

.fs-20 {
    font-size: 15px;
    font-family: "Nixie One", cursive;
    font-weight: bold;
    color: black;
}

.fs-20:hover {
    color: #e42230;
}

a {
    cursor: pointer;
}

#login {
    background-color: #e42230;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    transition: all ease-in-out 260ms;
}

#login:hover {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition: all ease-in-out 260ms;
}

#nav {
    opacity: 1;
}